* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}
/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
  color: white;

  height: 620px;
  width: 100%;
  background-image: url("https://t1.daumcdn.net/cfile/tistory/2356B23F53644F8314");
  background-size: cover;
  /*background-size: cover; <<제거 ! 백그라운드 이미지 2안 */
}
.header h1 {
  font-size: 50px;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e3f6ce;
}
/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #424242;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* 마우스를 대면 폰트컬러 백그라운드 컬러 변경 설정 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* 왼쪽 열  메인 쪽*/
.leftcolumn {
  display: flex;
  flex-direction: column;
  text-align: center;
  float: left;
  width: 75%;
}
/* 오른쪽 열 사이드바 쪽 */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}
/* Fake image */
.fakeimg {
  border-radius: 20px;
  border-style: solid;
  border-color: wheat;
  margin-top: 10px;
  background-color: rgb(247, 247, 147);
  width: 100%;
  padding: 20px;
}
.searchArea {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  margin-top: 24px;
}
/* 로그인  중앙정렬 위한 클래스 재정의 */
.searchArea_login {
  border-radius: 5px;
  margin-top: 24px;
}

/* #login_clk {
  display: block;
  margin-top: 20px;
  font-size: 25px;
}
*/

/* Add a card effect for articles */
.card {
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 20px;
  border: solid 2px gainsboro;
}
.card_center {
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
/* 스크린 가로 너비가 800 px 이상일떄 적용 */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
/* 스크린 가로 너비가 400px 이상일 떄 적용 */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
